.u-section-1 .u-sheet-1 {
  min-height: 149px;
}

.u-section-1 .u-image-1 {
  width: 117px;
  height: 117px;
  background-image: url("images/Seth.jpeg");
  background-position: 50% 50%;
  margin: 17px 50px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -115px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -13px auto 17px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 29px 908px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 68px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 68px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 65px;
  min-height: 16px;
  width: 140px;
  min-width: 42px;
  margin: 4px auto 12px 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 708px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(85, 172, 238) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 108px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 15px;
}.u-section-4 .u-sheet-1 {
  min-height: 1284px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 41px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 38px -2px 0 2px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 64px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  margin: 38px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 15px;
}.u-section-6 .u-sheet-1 {
  min-height: 364px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 0 0 658px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: -27px 658px 60px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -50px;
    margin-right: -27px;
    margin-left: 486px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 376px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-left: 286px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-right: 170px;
    margin-left: -170px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 8px;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 15px;
}.u-section-8 .u-sheet-1 {
  min-height: 475px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 6px 12px 0;
}

.u-section-8 .u-list-1 {
  width: 1067px;
  margin: 8px auto 50px 0;
}

.u-section-8 .u-repeater-1 {
  min-height: 261px;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 28px 10px 10px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 28px 10px 10px;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px 28px 10px 10px;
}

.u-section-8 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px 28px 10px 10px;
}

.u-section-8 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 705px;
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 15px;
}.u-section-10 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-10 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-3 {
  margin: 43px 0 0;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-10 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-6 {
  margin: 33px 0 0;
}

.u-section-10 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-7 {
  margin: 43px 0 60px;
}

.u-section-10 .u-btn-13 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-top: 23px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 32px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 0;
  }

  .u-section-10 .u-text-6 {
    margin-top: 29px;
  }

  .u-section-10 .u-text-7 {
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2624px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 36px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 0;
  }

  .u-section-10 .u-text-6 {
    margin-top: 36px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 36px;
    margin-bottom: 32px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 15px;
}.u-section-12 .u-sheet-1 {
  min-height: 567px;
}

.u-section-12 .u-text-1 {
  margin-bottom: 0;
}

.u-section-12 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-12 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-12 .u-text-4 {
  margin: 20px 0 60px;
}