[object Object]
/*begin-variables sitestylecss*/

.u-custom-color-1,
        .u-body.u-custom-color-1,
        section.u-custom-color-1:before,
        .u-custom-color-1 > .u-container-layout:before,
        .u-custom-color-1 > .u-inner-container-layout:before,
        .u-container-layout.u-container-layout.u-custom-color-1:before,
        .u-table-alt-custom-color-1 tr:nth-child(even)
        {
            color: #ffffff;
            background-color: #ff8300;
        }

        .u-button-style.u-custom-color-1,
        .u-button-style.u-custom-color-1[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: #ff8300 !important;
        }

        .u-button-style.u-custom-color-1:hover,
        .u-button-style.u-custom-color-1[class*="u-border-"]:hover,
        .u-button-style.u-custom-color-1:focus,
        .u-button-style.u-custom-color-1[class*="u-border-"]:focus,
        .u-button-style.u-button-style.u-custom-color-1:active,
        .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]:active,
        .u-button-style.u-button-style.u-custom-color-1.active,
        .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"].active,
        li.active > .u-button-style.u-button-style.u-custom-color-1,
        li.active > .u-button-style.u-button-style.u-custom-color-1[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: #e67600 !important;
        }

        .u-hover-custom-color-1:hover,
        .u-hover-custom-color-1[class*="u-border-"]:hover,
        .u-hover-custom-color-1:focus,
        .u-hover-custom-color-1[class*="u-border-"]:focus,
        .u-active-custom-color-1.u-active.u-active,
        .u-active-custom-color-1[class*="u-border-"].u-active.u-active,
        a.u-button-style.u-hover-custom-color-1:hover,
        a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:hover,
        a.u-button-style:hover > .u-hover-custom-color-1,
        a.u-button-style:hover > .u-hover-custom-color-1[class*="u-border-"],
        a.u-button-style.u-hover-custom-color-1:focus,
        a.u-button-style.u-hover-custom-color-1[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-active-custom-color-1:active,
        a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-active-custom-color-1.active,
        a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"].active,
        a.u-button-style.u-button-style.active > .u-active-custom-color-1,
        a.u-button-style.u-button-style.active > .u-active-custom-color-1[class*="u-border-"],
        li.active > a.u-button-style.u-button-style.u-active-custom-color-1,
        li.active > a.u-button-style.u-button-style.u-active-custom-color-1[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: #ff8300 !important;
        }

        a.u-link.u-hover-custom-color-1:hover {
            color: #ff8300 !important;
        }

        
        
        .u-custom-color-2,
        .u-body.u-custom-color-2,
        section.u-custom-color-2:before,
        .u-custom-color-2 > .u-container-layout:before,
        .u-custom-color-2 > .u-inner-container-layout:before,
        .u-container-layout.u-container-layout.u-custom-color-2:before,
        .u-table-alt-custom-color-2 tr:nth-child(even)
        {
            color: #ffffff;
            background-color: rgba(0,87,255,0.98);
        }

        .u-button-style.u-custom-color-2,
        .u-button-style.u-custom-color-2[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: rgba(0,87,255,0.98) !important;
        }

        .u-button-style.u-custom-color-2:hover,
        .u-button-style.u-custom-color-2[class*="u-border-"]:hover,
        .u-button-style.u-custom-color-2:focus,
        .u-button-style.u-custom-color-2[class*="u-border-"]:focus,
        .u-button-style.u-button-style.u-custom-color-2:active,
        .u-button-style.u-button-style.u-custom-color-2[class*="u-border-"]:active,
        .u-button-style.u-button-style.u-custom-color-2.active,
        .u-button-style.u-button-style.u-custom-color-2[class*="u-border-"].active,
        li.active > .u-button-style.u-button-style.u-custom-color-2,
        li.active > .u-button-style.u-button-style.u-custom-color-2[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: rgba(0,78,230,0.98) !important;
        }

        .u-hover-custom-color-2:hover,
        .u-hover-custom-color-2[class*="u-border-"]:hover,
        .u-hover-custom-color-2:focus,
        .u-hover-custom-color-2[class*="u-border-"]:focus,
        .u-active-custom-color-2.u-active.u-active,
        .u-active-custom-color-2[class*="u-border-"].u-active.u-active,
        a.u-button-style.u-hover-custom-color-2:hover,
        a.u-button-style.u-hover-custom-color-2[class*="u-border-"]:hover,
        a.u-button-style:hover > .u-hover-custom-color-2,
        a.u-button-style:hover > .u-hover-custom-color-2[class*="u-border-"],
        a.u-button-style.u-hover-custom-color-2:focus,
        a.u-button-style.u-hover-custom-color-2[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-active-custom-color-2:active,
        a.u-button-style.u-button-style.u-active-custom-color-2[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-active-custom-color-2.active,
        a.u-button-style.u-button-style.u-active-custom-color-2[class*="u-border-"].active,
        a.u-button-style.u-button-style.active > .u-active-custom-color-2,
        a.u-button-style.u-button-style.active > .u-active-custom-color-2[class*="u-border-"],
        li.active > a.u-button-style.u-button-style.u-active-custom-color-2,
        li.active > a.u-button-style.u-button-style.u-active-custom-color-2[class*="u-border-"]
        {
            color: #ffffff !important;
            background-color: rgba(0,87,255,0.98) !important;
        }

        a.u-link.u-hover-custom-color-2:hover {
            color: rgba(0,87,255,0.98) !important;
        }

        

        
        .u-border-custom-color-1,
        .u-separator-custom-color-1:after
        {
            border-color: #ff8300;
            stroke: #ff8300;
        }

        .u-button-style.u-border-custom-color-1
        {
            border-color: #ff8300 !important;
            color: #ff8300 !important;
            background-color: transparent !important;
        }

        .u-button-style.u-border-custom-color-1:hover,
        .u-button-style.u-border-custom-color-1:focus
        {
            border-color: transparent !important;
            color: #e67600 !important;
            background-color: transparent !important;
        }

        .u-border-hover-custom-color-1:hover,
        .u-border-hover-custom-color-1:focus,
        .u-border-active-custom-color-1.u-active.u-active,
        a.u-button-style.u-border-hover-custom-color-1:hover,
        a.u-button-style:hover > .u-border-hover-custom-color-1,
        a.u-button-style.u-border-hover-custom-color-1:focus,
        a.u-button-style.u-button-style.u-border-active-custom-color-1:active,
        a.u-button-style.u-button-style.u-border-active-custom-color-1.active,
        a.u-button-style.u-button-style.active > .u-border-active-custom-color-1,
        li.active > a.u-button-style.u-button-style.u-border-active-custom-color-1
        {
            color: #ff8300 !important;
            border-color: #ff8300 !important;
        }

        .u-link.u-border-custom-color-1[class*="u-border-"]
        {
            border-color: #ff8300 !important;
        }

        .u-link.u-border-custom-color-1[class*="u-border-"]:hover
        {
            border-color: #e67600 !important;
        }
        
        
        .u-border-custom-color-2,
        .u-separator-custom-color-2:after
        {
            border-color: rgba(0,87,255,0.98);
            stroke: rgba(0,87,255,0.98);
        }

        .u-button-style.u-border-custom-color-2
        {
            border-color: rgba(0,87,255,0.98) !important;
            color: rgba(0,87,255,0.98) !important;
            background-color: transparent !important;
        }

        .u-button-style.u-border-custom-color-2:hover,
        .u-button-style.u-border-custom-color-2:focus
        {
            border-color: transparent !important;
            color: rgba(0,78,230,0.98) !important;
            background-color: transparent !important;
        }

        .u-border-hover-custom-color-2:hover,
        .u-border-hover-custom-color-2:focus,
        .u-border-active-custom-color-2.u-active.u-active,
        a.u-button-style.u-border-hover-custom-color-2:hover,
        a.u-button-style:hover > .u-border-hover-custom-color-2,
        a.u-button-style.u-border-hover-custom-color-2:focus,
        a.u-button-style.u-button-style.u-border-active-custom-color-2:active,
        a.u-button-style.u-button-style.u-border-active-custom-color-2.active,
        a.u-button-style.u-button-style.active > .u-border-active-custom-color-2,
        li.active > a.u-button-style.u-button-style.u-border-active-custom-color-2
        {
            color: rgba(0,87,255,0.98) !important;
            border-color: rgba(0,87,255,0.98) !important;
        }

        .u-link.u-border-custom-color-2[class*="u-border-"]
        {
            border-color: rgba(0,87,255,0.98) !important;
        }

        .u-link.u-border-custom-color-2[class*="u-border-"]:hover
        {
            border-color: rgba(0,78,230,0.98) !important;
        }
        

        
        .u-text-custom-color-1,
        li.active > a.u-button-style.u-text-custom-color-1,
        li.active > a.u-button-style.u-text-custom-color-1[class*="u-border-"],
        a.u-button-style.u-text-custom-color-1,
        a.u-button-style.u-text-custom-color-1[class*="u-border-"]
        {
            color: #ff8300 !important;
        }

        a.u-button-style.u-text-custom-color-1:hover,
        a.u-button-style.u-text-custom-color-1[class*="u-border-"]:hover,
        a.u-button-style.u-text-custom-color-1:focus,
        a.u-button-style.u-text-custom-color-1[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-text-custom-color-1:active,
        a.u-button-style.u-button-style.u-text-custom-color-1[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-custom-color-1.active,
        a.u-button-style.u-button-style.u-text-custom-color-1[class*="u-border-"].active
        {
            color: #e67600 !important;
        }

        a.u-button-style:hover > .u-text-hover-custom-color-1,
        a.u-button-style:hover > .u-text-hover-custom-color-1[class*="u-border-"],
        a.u-button-style.u-button-style.u-text-hover-custom-color-1:hover,
        a.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"]:hover,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-1.active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"].active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-1:active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-hover-custom-color-1:focus,
        a.u-button-style.u-button-style.u-text-hover-custom-color-1[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1.active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-1[class*="u-border-"].active,
        a.u-button-style.u-button-style.active > .u-text-active-custom-color-1,
        a.u-button-style.u-button-style.active > .u-text-active-custom-color-1[class*="u-border-"],
        :not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-custom-color-1:hover,
        :not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-custom-color-1.active,
        .u-text-hover-custom-color-1.u-language-url:hover,
        .u-text-hover-custom-color-1 .u-language-url:hover,
        .u-popupmenu-items.u-text-hover-custom-color-1 .u-nav-link:hover,
        .u-popupmenu-items.u-popupmenu-items.u-text-active-custom-color-1 .u-nav-link.active
        {
            color: #ff8300 !important;
        }

        .u-text-custom-color-1 .u-svg-link,
        .u-text-hover-custom-color-1:hover .u-svg-link,
        .u-button-style:hover > .u-text-hover-custom-color-1 .u-svg-link,
        .u-button-style.u-button-style.active > .u-text-active-custom-color-1 .u-svg-link,
        .u-text-hover-custom-color-1:focus .u-svg-link
        {
            fill: #ff8300;
        }

        .u-link.u-text-custom-color-1:hover
        {
            color: #e67600 !important;
        }

        a.u-link.u-text-hover-custom-color-1:hover
        {
            color: #ff8300 !important;
        }
        
        
        .u-text-custom-color-2,
        li.active > a.u-button-style.u-text-custom-color-2,
        li.active > a.u-button-style.u-text-custom-color-2[class*="u-border-"],
        a.u-button-style.u-text-custom-color-2,
        a.u-button-style.u-text-custom-color-2[class*="u-border-"]
        {
            color: rgba(0,87,255,0.98) !important;
        }

        a.u-button-style.u-text-custom-color-2:hover,
        a.u-button-style.u-text-custom-color-2[class*="u-border-"]:hover,
        a.u-button-style.u-text-custom-color-2:focus,
        a.u-button-style.u-text-custom-color-2[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-text-custom-color-2:active,
        a.u-button-style.u-button-style.u-text-custom-color-2[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-custom-color-2.active,
        a.u-button-style.u-button-style.u-text-custom-color-2[class*="u-border-"].active
        {
            color: rgba(0,78,230,0.98) !important;
        }

        a.u-button-style:hover > .u-text-hover-custom-color-2,
        a.u-button-style:hover > .u-text-hover-custom-color-2[class*="u-border-"],
        a.u-button-style.u-button-style.u-text-hover-custom-color-2:hover,
        a.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"]:hover,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-2.active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"].active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-2:active,
        a.u-button-style.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-text-hover-custom-color-2:focus,
        a.u-button-style.u-button-style.u-text-hover-custom-color-2[class*="u-border-"]:focus,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2[class*="u-border-"]:active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2.active,
        a.u-button-style.u-button-style.u-button-style.u-button-style.u-text-active-custom-color-2[class*="u-border-"].active,
        a.u-button-style.u-button-style.active > .u-text-active-custom-color-2,
        a.u-button-style.u-button-style.active > .u-text-active-custom-color-2[class*="u-border-"],
        :not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-custom-color-2:hover,
        :not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-custom-color-2.active,
        .u-text-hover-custom-color-2.u-language-url:hover,
        .u-text-hover-custom-color-2 .u-language-url:hover,
        .u-popupmenu-items.u-text-hover-custom-color-2 .u-nav-link:hover,
        .u-popupmenu-items.u-popupmenu-items.u-text-active-custom-color-2 .u-nav-link.active
        {
            color: rgba(0,87,255,0.98) !important;
        }

        .u-text-custom-color-2 .u-svg-link,
        .u-text-hover-custom-color-2:hover .u-svg-link,
        .u-button-style:hover > .u-text-hover-custom-color-2 .u-svg-link,
        .u-button-style.u-button-style.active > .u-text-active-custom-color-2 .u-svg-link,
        .u-text-hover-custom-color-2:focus .u-svg-link
        {
            fill: rgba(0,87,255,0.98);
        }

        .u-link.u-text-custom-color-2:hover
        {
            color: rgba(0,78,230,0.98) !important;
        }

        a.u-link.u-text-hover-custom-color-2:hover
        {
            color: rgba(0,87,255,0.98) !important;
        }

        .u-body
        {
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
        
        
        
        
        
        
        }

        /** common-rules **/
        h1.u-title
        {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2.u-subtitle
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h1:not(.u-title)
        {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2:not(.u-subtitle)
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h3
        {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h4
        {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h5
        {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h6
        {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p.u-large-text
        {
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p.u-small-text
        {
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p:not(.u-text-variant)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Merriweather,serif;
        }
        .u-btn
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        blockquote
        {
        font-style: italic;
        padding-left: 20px;
        border-width: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-metadata
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        ul:not(.u-unstyled)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        ol
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-post-content
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        /** common-rules **/

        /** publish-rules **/
        /*begin-media rules*/
        @media (max-width: 767px) {
        h1.u-title
        {
        font-size: 3.75rem;
        }
        }
        @media (max-width: 575px) {
        h1.u-title
        {
        font-size: 3rem;
        }
        }
        @media (max-width: 575px) {
        h2.u-subtitle
        {
        font-size: 1.5rem;
        }
        }
        @media (max-width: 575px) {
        h1:not(.u-title)
        {
        font-size: 1.875rem;
        }
        }
        @media (max-width: 575px) {
        h2:not(.u-subtitle)
        {
        font-size: 1.5rem;
        }
        }
        @media (max-width: 575px) {
        h3
        {
        font-size: 1.5rem;
        }
        }
        /*end-media rules*/
        /** publish-rules **/

        

        /** cms-rules **/
        /*begin-responsive rules*/
        .u-sm h1.u-title
        {
        font-size: 3.75rem;
        }
        .u-xs h1.u-title
        {
        font-size: 3rem;
        }
        .u-xs h2.u-subtitle
        {
        font-size: 1.5rem;
        }
        .u-xs h1:not(.u-title)
        {
        font-size: 1.875rem;
        }
        .u-xs h2:not(.u-subtitle)
        {
        font-size: 1.5rem;
        }
        .u-xs h3
        {
        font-size: 1.5rem;
        }
        /*end-responsive rules*/
        /** cms-rules **/

        /** color-rules **/
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
        .u-gradient > .u-container-layout > a,
        .u-image:not(.u-shading) > .u-container-layout > a,
        a
        {
        color: #478ac9;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
        .u-gradient > .u-container-layout > a:hover,
        .u-image:not(.u-shading) > .u-container-layout > a:hover,
        a:hover
        {
        color: #387cbd;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
        .u-gradient > .u-container-layout > .u-btn,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn,
        .u-btn
        {
        background-color: #478ac9;
        color: #ffffff;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
        .u-gradient > .u-container-layout > .u-btn:hover,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
        .u-btn:hover
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
        .u-gradient > .u-container-layout > .u-btn:focus,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
        .u-btn:focus
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
        .u-gradient > .u-container-layout > .u-btn:active,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
        .u-btn:active
        {
        background-color: #387cbd;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > blockquote,
        .u-gradient > .u-container-layout > blockquote,
        .u-image:not(.u-shading) > .u-container-layout > blockquote,
        blockquote
        {
        border-color: #478ac9;
        }
        /** color-rules **/

        /** alt-color-rules **/
        .u-custom-color-1 a,.u-custom-color-2 a,.u-body-color a,.u-palette-1-base a,.u-palette-1-dark-3 a,.u-palette-1-dark-2 a,.u-palette-1-dark-1 a,.u-palette-1 a,.u-palette-1-light-1 a,.u-palette-2-base a,.u-palette-2-dark-3 a,.u-palette-2-dark-2 a,.u-palette-2-dark-1 a,.u-palette-2 a,.u-palette-2-light-1 a,.u-palette-3-dark-3 a,.u-palette-3-dark-2 a,.u-palette-3-dark-1 a,.u-palette-4-base a,.u-palette-4-dark-3 a,.u-palette-4-dark-2 a,.u-palette-4-dark-1 a,.u-palette-5-dark-3 a,.u-palette-5-dark-2 a,.u-palette-5-dark-1 a,.u-grey-40 a,.u-grey-30 a,.u-grey-90 a,.u-grey-80 a,.u-grey-75 a,.u-black a,.u-grey-70 a,.u-grey-60 a,.u-grey-50 a,.u-grey-dark-3 a,.u-grey-dark-2 a,.u-grey-dark-1 a,.u-grey a,.u-shading a,.u-overlap-contrast .u-header a:not(.u-nav-link):not(.u-btn)
        {
        color: #adcce9;
        }
        .u-custom-color-1 a:hover,.u-custom-color-2 a:hover,.u-body-color a:hover,.u-palette-1-base a:hover,.u-palette-1-dark-3 a:hover,.u-palette-1-dark-2 a:hover,.u-palette-1-dark-1 a:hover,.u-palette-1 a:hover,.u-palette-1-light-1 a:hover,.u-palette-2-base a:hover,.u-palette-2-dark-3 a:hover,.u-palette-2-dark-2 a:hover,.u-palette-2-dark-1 a:hover,.u-palette-2 a:hover,.u-palette-2-light-1 a:hover,.u-palette-3-dark-3 a:hover,.u-palette-3-dark-2 a:hover,.u-palette-3-dark-1 a:hover,.u-palette-4-base a:hover,.u-palette-4-dark-3 a:hover,.u-palette-4-dark-2 a:hover,.u-palette-4-dark-1 a:hover,.u-palette-5-dark-3 a:hover,.u-palette-5-dark-2 a:hover,.u-palette-5-dark-1 a:hover,.u-grey-40 a:hover,.u-grey-30 a:hover,.u-grey-90 a:hover,.u-grey-80 a:hover,.u-grey-75 a:hover,.u-black a:hover,.u-grey-70 a:hover,.u-grey-60 a:hover,.u-grey-50 a:hover,.u-grey-dark-3 a:hover,.u-grey-dark-2 a:hover,.u-grey-dark-1 a:hover,.u-grey a:hover
        {
        color: #a1a1a1;
        }
        .u-custom-color-1 .u-btn,.u-custom-color-2 .u-btn,.u-body-color .u-btn,.u-palette-1-base .u-btn,.u-palette-1-dark-3 .u-btn,.u-palette-1-dark-2 .u-btn,.u-palette-1-dark-1 .u-btn,.u-palette-1 .u-btn,.u-palette-1-light-1 .u-btn,.u-palette-2-base .u-btn,.u-palette-2-dark-3 .u-btn,.u-palette-2-dark-2 .u-btn,.u-palette-2-dark-1 .u-btn,.u-palette-2 .u-btn,.u-palette-2-light-1 .u-btn,.u-palette-3-dark-3 .u-btn,.u-palette-3-dark-2 .u-btn,.u-palette-3-dark-1 .u-btn,.u-palette-4-base .u-btn,.u-palette-4-dark-3 .u-btn,.u-palette-4-dark-2 .u-btn,.u-palette-4-dark-1 .u-btn,.u-palette-5-dark-3 .u-btn,.u-palette-5-dark-2 .u-btn,.u-palette-5-dark-1 .u-btn,.u-grey-40 .u-btn,.u-grey-30 .u-btn,.u-grey-90 .u-btn,.u-grey-80 .u-btn,.u-grey-75 .u-btn,.u-black .u-btn,.u-grey-70 .u-btn,.u-grey-60 .u-btn,.u-grey-50 .u-btn,.u-grey-dark-3 .u-btn,.u-grey-dark-2 .u-btn,.u-grey-dark-1 .u-btn,.u-grey .u-btn,.u-shading .u-btn,.u-overlap-contrast .u-header .u-btn
        {
        background-color: #adcce9;
        color: #000000;
        }
        .u-custom-color-1 .u-btn:hover,.u-custom-color-2 .u-btn:hover,.u-body-color .u-btn:hover,.u-palette-1-base .u-btn:hover,.u-palette-1-dark-3 .u-btn:hover,.u-palette-1-dark-2 .u-btn:hover,.u-palette-1-dark-1 .u-btn:hover,.u-palette-1 .u-btn:hover,.u-palette-1-light-1 .u-btn:hover,.u-palette-2-base .u-btn:hover,.u-palette-2-dark-3 .u-btn:hover,.u-palette-2-dark-2 .u-btn:hover,.u-palette-2-dark-1 .u-btn:hover,.u-palette-2 .u-btn:hover,.u-palette-2-light-1 .u-btn:hover,.u-palette-3-dark-3 .u-btn:hover,.u-palette-3-dark-2 .u-btn:hover,.u-palette-3-dark-1 .u-btn:hover,.u-palette-4-base .u-btn:hover,.u-palette-4-dark-3 .u-btn:hover,.u-palette-4-dark-2 .u-btn:hover,.u-palette-4-dark-1 .u-btn:hover,.u-palette-5-dark-3 .u-btn:hover,.u-palette-5-dark-2 .u-btn:hover,.u-palette-5-dark-1 .u-btn:hover,.u-grey-40 .u-btn:hover,.u-grey-30 .u-btn:hover,.u-grey-90 .u-btn:hover,.u-grey-80 .u-btn:hover,.u-grey-75 .u-btn:hover,.u-black .u-btn:hover,.u-grey-70 .u-btn:hover,.u-grey-60 .u-btn:hover,.u-grey-50 .u-btn:hover,.u-grey-dark-3 .u-btn:hover,.u-grey-dark-2 .u-btn:hover,.u-grey-dark-1 .u-btn:hover,.u-grey .u-btn:hover,.u-shading .u-btn:hover,.u-overlap-contrast .u-header .u-btn:hover
        {
        background-color: #8db8e0;
        color: #ffffff;
        }
        .u-custom-color-1 .u-btn:active,.u-custom-color-2 .u-btn:active,.u-body-color .u-btn:active,.u-palette-1-base .u-btn:active,.u-palette-1-dark-3 .u-btn:active,.u-palette-1-dark-2 .u-btn:active,.u-palette-1-dark-1 .u-btn:active,.u-palette-1 .u-btn:active,.u-palette-1-light-1 .u-btn:active,.u-palette-2-base .u-btn:active,.u-palette-2-dark-3 .u-btn:active,.u-palette-2-dark-2 .u-btn:active,.u-palette-2-dark-1 .u-btn:active,.u-palette-2 .u-btn:active,.u-palette-2-light-1 .u-btn:active,.u-palette-3-dark-3 .u-btn:active,.u-palette-3-dark-2 .u-btn:active,.u-palette-3-dark-1 .u-btn:active,.u-palette-4-base .u-btn:active,.u-palette-4-dark-3 .u-btn:active,.u-palette-4-dark-2 .u-btn:active,.u-palette-4-dark-1 .u-btn:active,.u-palette-5-dark-3 .u-btn:active,.u-palette-5-dark-2 .u-btn:active,.u-palette-5-dark-1 .u-btn:active,.u-grey-40 .u-btn:active,.u-grey-30 .u-btn:active,.u-grey-90 .u-btn:active,.u-grey-80 .u-btn:active,.u-grey-75 .u-btn:active,.u-black .u-btn:active,.u-grey-70 .u-btn:active,.u-grey-60 .u-btn:active,.u-grey-50 .u-btn:active,.u-grey-dark-3 .u-btn:active,.u-grey-dark-2 .u-btn:active,.u-grey-dark-1 .u-btn:active,.u-grey .u-btn:active,.u-shading .u-btn:active,.u-overlap-contrast .u-header .u-btn:active
        {
        background-color: #8db8e0;
        color: #ffffff;
        }
        /** alt-color-rules **/
    


/*end-variables sitestylecss*/
 .u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 88px;
}

.u-header .u-menu-1 {
  margin: 22px auto 22px 0;
}

.u-header .u-nav-1 {
  font-size: 1.5rem;
  letter-spacing: normal;
}

.u-header .u-nav-2 {
  font-size: 1.25rem;
}




 .u-footer {
  background-image: none;
}

.u-footer .u-sheet-1 {
  min-height: 120px;
}
@media (max-width: 1199px) {
  .u-footer .u-sheet-1 {
    min-height: 99px;
  }
}
@media (max-width: 991px) {
  .u-footer .u-sheet-1 {
    min-height: 76px;
  }
}
@media (max-width: 767px) {
  .u-footer .u-sheet-1 {
    min-height: 57px;
  }
}
@media (max-width: 575px) {
  .u-footer .u-sheet-1 {
    min-height: 36px;
  }
}

 /*begin-variables base-font-size*/ 
 html { font-size: 16px; }
 /*end-variables base-font-size*/